section {
  /* border: red 4px solid; */
  /* width: max-content;
  margin: auto; */
  padding-left: 5px; 
  margin-bottom: 10px;
  margin: 0px 5px;
}

img {
  /* height: 300px; */
  border: black 2px solid;
  padding: 5px;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  background-color: darkgrey;
}

p {
  font-style: italic;
}

section>p:first-child {
  font-size: 2em;
  /* border: black 2px solid; */
}

/* #renderedBeast {
  display: inline-block; 
   float: left;
  width: 25%;
  padding: 0 10px;
} */
